################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/test123/FileContentIndex
/.vs/test123/v17
/.vs
/.gitignore
